<template>
  <v-container class="fill-height">
    
    <v-row align="center" justify="center">
      
      <v-tabs fixed-tabs background-color="grey lighten-3">
        <v-tab @click="() => SET_LOGIN_FORM(true)">Masuk</v-tab>
        <v-tab @click="() => SET_LOGIN_FORM(false)">Daftar</v-tab>
      </v-tabs>
      
      <v-col cols="12">
        <v-card class="elevation-0" color="transparent">

          <app-login-form v-if="loginForm" />
          <app-register-form v-if="!loginForm" />
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import LoginForm from '@/components/forms/Login.vue'
import RegisterForm from '@/components/forms/Register.vue'

export default {
  components: {
    'app-login-form': LoginForm,
    'app-register-form': RegisterForm,
  },
  layout: 'auth',
  auth: false, // JADI KITA SET FALSE AGAR MIDDLEWARE TIDAK DITERAPKAN PADA HALAMAN INI
  computed: {
    ...mapState({
      loginForm: (state) => state.loginForm,
    }),
  },
  mounted() {
    // KITA LAKUKAN PENGECEK, JIKA SUDAH LOGIN
    if (this.$auth.loggedIn) {
      // MAKA REDIRECT KE HALAMAN UTAMA ATAU DASHBOARD
      this.$router.push('/')
    }
  },
  methods: {
    ...mapMutations({
      SET_LOGIN_FORM: 'SET_LOGIN_FORM',
    }), // LOAD MUTATIONS DARI ROOT VUEX (STORE/INDEX.JS)
  },
}
</script>
