<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <blockquote class="blockquote">
        id adalah {{ $route.params.id }}
      </blockquote>
    </v-col>
  </v-row>
</template>
