<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <blockquote class="blockquote">
        product
      </blockquote>
    </v-col>
  </v-row>
</template>

<script>
export default {
  head: {
    title: 'product aytech'
  }
}
</script>
