<template>
  <v-data-table
    :headers="headers"
    :items="users.data"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Users</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialogData" persistent max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <!-- <nuxt-link class="btn btn-primary float-right btn-sm" :to="{name: 'users-add'}">Add New</nuxt-link> -->
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
              @click="newItem()"
            >
              New Item
            </v-btn>
          </template>

          <app-user-form />
        </v-dialog>
        <v-dialog v-model="dialogDeleteData" max-width="500px">
          <v-card>
            <v-card-title class="headline">
              Are you sure you want to delete this item?
            </v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="secondary" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="primary" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)">mdi-pencil</v-icon>
      <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="getUsersData">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import UserForm from '@/components/forms/User.vue'

export default {
  components: {
    'app-user-form': UserForm, // CUSTOM COMPONENT UNTUK FORM INPUT
  },
  // KETIKA PAGE DILOAD, MAKA FUNGSI INI AKAN DIJALANKAN SECARA OTOMATIS
  // DIMANA KITA MEMANGGIL FUNGSI GETUSERSDATA DARI STORE USER
  async asyncData({ store }) {
    await Promise.all([store.dispatch('user/getUsersData')])
    // return
  },

  data() {
    return {
      // FIELD UNTUK MENJADI HEADER TABLE
      headers: [
        {
          text: 'Nama User',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Email', value: 'email' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },

  computed: {
    // SETIAP REQUEST KE API, DATANYA AKAN DISIMPAN KE DALAM STATE YANG ADA DIMASING-MASING MODULE STORE VUEX
    // DALAM HAL INI, DATA USER AKAN DISIMPAN KE DALAM STATE USERS, DI DALAM MODULE USER ATAU USER.JS YANG ADA DI DALAM FOLDER STORE
    ...mapState({
      editedIndex: (state) => state.user.editedIndex,
      dialog: (state) => state.user.dialog,
      dialogDelete: (state) => state.user.dialogDelete,
      editedItem: (state) => state.user.editedItem,
      defaultItem: (state) => state.user.defaultItem,
      users: (state) => state.user.users,
    }),
    dialogData: {
      get() {
        return this.dialog
      },
      set(value) {
        this.SET_DIALOG(value)
      },
    },
    dialogDeleteData: {
      get() {
        return this.dialogDelete
      },
      set(value) {
        this.SET_DIALOG_DELETE(value)
      },
    },
  },

  watch: {
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },

  methods: {
    ...mapActions({
      getUsersData: 'user/getUsersData',
      destroyUsersData: 'user/destroyUsersData',
    }),
    ...mapMutations({
      SET_EDITED_INDEX: 'user/SET_EDITED_INDEX',
      SET_DIALOG: 'user/SET_DIALOG',
      SET_DIALOG_DELETE: 'user/SET_DIALOG_DELETE',
      SET_EDITED_ITEM: 'user/SET_EDITED_ITEM',
      SET_DEFAULT_ITEM: 'user/SET_DEFAULT_ITEM',
    }),

    newItem() {
      this.SET_EDITED_INDEX(-1)
      this.SET_DEFAULT_ITEM(Object.assign({}, this.defaultItem))
      this.SET_DIALOG(true)
      // console.log('item from newItem')
      // console.log(this.editedItem)
    },

    editItem(item) {
      this.SET_EDITED_INDEX(item.id)
      this.SET_EDITED_ITEM(Object.assign({}, { payload: item }))
      this.SET_DIALOG(true)
      // console.log('item from editItem')
      // console.log(this.editedItem)
    },

    deleteItem(item) {
      this.SET_EDITED_INDEX(item.id)
      this.SET_EDITED_ITEM(Object.assign({}, { payload: item }))
      this.SET_DIALOG_DELETE(true)
    },

    deleteItemConfirm() {
      this.destroyUsersData(this.editedItem).then(() => {
        this.closeDelete()
      })
    },

    closeDelete() {
      this.SET_DIALOG_DELETE(false)
      this.$nextTick(() => {
        this.SET_DEFAULT_ITEM(Object.assign({}, this.defaultItem))
        // console.log(this.editedItem)
        this.SET_EDITED_INDEX(-1)
      })
    },
  },
}
</script>
