<template>
  <v-app dark>
    <v-main class="d-flex align-center flex-wrap">
      <v-container class="pa-0">
        <v-row dense>
          <v-col
            class="d-flex align-center flex-wrap"
            color="grey lighten-2"
            cols="12"
            lg="7"
          >
            <v-img class="mb-auto white--text align-end d-none d-sm-flex" :src="loginForm ? '/v312_11698.png' : '/v312_11380.png'" />
            <v-row dense class="d-none d-sm-flex">
              <v-col
                class="text-center d-flex flex-column justify-space-between align-center"
                cols="4"
              >
                <v-card class="mx-auto" elevation="0">
                  <v-img
                    height="70"
                    src="/v312_11352.png"
                    contain
                  ></v-img>

                  <v-card-text>
                    <div class="subtitle-2 text-center indigo--text text--darken-4">Cari Mudah Beli Mudah</div>
                    <div class="caption">Mau cari produk bangunan yang lengkap di sekitar lokasi Anda? Disini tempatnya !!!</div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col
                class="text-center d-flex flex-column justify-space-between align-center"
                cols="4"
              >
                <v-card class="mx-auto" elevation="0">
                  <v-img
                    height="70"
                    src="/v312_11353.png"
                    contain
                  ></v-img>

                  <v-card-text>
                    <div class="subtitle-2 text-center indigo--text text--darken-4">Gratis Pengiriman</div>
                    <div class="caption">Belanja material bangunan di 1000saudara.com gratis ongkir dengan minimal pembelanjaan Rp 500.000. Anda juga dapat tentukan waktu pengiriman</div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col
                class="text-center d-flex flex-column justify-space-between align-center"
                cols="4"
              >
                <v-card class="mx-auto" elevation="0">
                  <v-img
                    height="70"
                    src="/v312_11354.png"
                    contain
                  ></v-img>

                  <v-card-text>
                    <div class="subtitle-2 text-center indigo--text text--darken-4">Bukti Pajak</div>
                    <div class="caption">Kami siap menerbitkan bukti faktur pajak yang anda perlukan</div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            class="d-flex align-center flex-wrap grey lighten-3"
            cols="12"
            lg="5"
          >
            <nuxt />
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <app-snackbar />
  </v-app>
</template>

<script>
import Snackbar from '@/components/layouts/Snackbar'
import { mapState, mapMutations } from 'vuex'
export default {
  components: {
    'app-snackbar': Snackbar,
  },
  data() {
    return {
      title: 'login form',
    }
  },
  computed: {
    ...mapState({
      loginForm: (state) => state.loginForm,
    }),
  },
  methods: {
    ...mapMutations({
      SET_IS_AUTH: 'SET_IS_AUTH',
      SET_SNACKBAR: 'SET_SNACKBAR',
      SET_LOGIN_FORM: 'SET_LOGIN_FORM',
    }),
  },
}
</script>

<style>
  @media only screen and (max-width: 600px) {
    .theme--light.v-application {
      background-color: #eeeeee !important;
    }
  }
</style>
