<template>
  <v-app dark>
    <app-header v-if="isAuth"></app-header>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <app-snackbar />
    <app-footer v-if="isAuth"></app-footer>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'
import Header from '@/components/layouts/Header'
import Footer from '@/components/layouts/Footer'
import Snackbar from '@/components/layouts/Snackbar'

export default {
  components: {
    'app-header': Header,
    'app-footer': Footer,
    'app-snackbar': Snackbar,
  },
  computed: {
    ...mapState(['isAuth']), // JADI ISAUTH KITA AMBIL DARI STATE INDEX.JSS
  },
}
</script>
