<template>
  <v-snackbar
    v-model="snackbarStatus"
    :color="snackbar.color"
    :timeout="snackbar.timeout"
    shaped
  >
    {{ snackbar.message }}
    <template v-slot:action="{ attrs }">
      <v-btn
        color="white"
        text
        v-bind="attrs"
        @click="() => SET_SNACKBAR({ status: false })"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  data() {
    return {}
  },

  computed: {
    ...mapState({
      snackbar: (state) => state.snackbar,
    }),
    snackbarStatus: {
      get() {
        return this.snackbar.status
      },
      set(value) {
        this.SET_SNACKBAR(Object.assign({}, value))
      },
    },
  },

  methods: {
    ...mapMutations({
      SET_SNACKBAR: 'SET_SNACKBAR',
    }),
  },
}
</script>
