<template>
  <v-form autocomplete="off" method="post" @submit.prevent="submit">
    <v-card-text>
      <v-text-field
        outlined
        v-model="email"
        label="Email"
        name="email"
        prepend-inner-icon="mdi-email"
        type="email"
        required
        :error-messages="emailErrors"
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
      >
      </v-text-field>

      <v-text-field
        id="password"
        outlined
        v-model="password"
        label="Kata Sandi"
        name="password"
        prepend-inner-icon="mdi-lock"
        append-icon="mdi-eye"
        type="password"
        required
        :error-messages="passwordErrors"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
      ></v-text-field>

      <p class="text-right red--text" @click="submit()">lupa kata sandi ?</p>
    </v-card-text>

    <v-list-item>
      <v-btn block color="primary" dark type="submit">Login</v-btn>
    </v-list-item>
    
    <v-list-item>
      <v-list-item-subtitle align="center">atau</v-list-item-subtitle>
    </v-list-item>
    
    <v-list-item>
      <v-btn block color="primary" dark type="submit" outlined><v-icon left>mdi-google</v-icon> Masuk dengan google</v-btn>
    </v-list-item>
  </v-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email } from 'vuelidate/lib/validators'
import { mapState, mapMutations } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    password: { required, minLength: minLength(4) },
  },
  data() {
    return {
      // VARIABLE UNTUK MENAMPUNG INPUTAN USER
      email: null,
      password: null,
    }
  },
  computed: {
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push('Password is required')
      !this.$v.password.minLength &&
        errors.push('Name must be at less 4 characters long')
      return errors
    },
  },
  methods: {
    ...mapMutations({
      SET_IS_AUTH: 'SET_IS_AUTH',
      SET_SNACKBAR: 'SET_SNACKBAR',
      SET_LOGIN_FORM: 'SET_LOGIN_FORM',
    }), // LOAD MUTATIONS DARI ROOT VUEX (STORE/INDEX.JS)
    // JIKA TOMBOL LOGIN DITEKAN, MAKA METHOD INI AKAN DIJALANKAN
    submit() {
      // MELAKUKAN PROSES LOGIN, DENGAN MENGGUNAKAN STRATEGIES LOCAL YANG ADA DI NUXT CONFIG
      // DAN MENGIRIMKAN DATA BERUPA EMAIL DAN PASSWORD
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$auth
          .loginWith('local', {
            data: {
              email: this.email,
              password: this.password,
            },
          })
          .then((response) => {
            const snackbar = {
              status: true,
              message: response.data.status,
              icon: '',
              color: 'success',
            }

            this.SET_SNACKBAR(snackbar)
            // JIKA BERHASIL, KITA SET TRUE IS AUTH-NYA
            this.SET_IS_AUTH(true)
            // LALU REDIRECT KE HALAMAN UTAMA / DAHSBOARD
            this.$router.push('/')
          })
          .catch(() => {
            const snackbar = {
              status: true,
              message: 'email or password error',
              icon: '',
              color: 'error',
            }

            this.SET_SNACKBAR(snackbar)
          })
      }
    },
  },
}
</script>
