<template>
  <v-form autocomplete="off" method="post" @submit.prevent="register">
    <v-card-text>
      <v-text-field
        id="fullname"
        outlined
        v-model="fullname"
        label="Nama Lengkap"
        name="fullname"
        prepend-inner-icon="mdi-account"
        type="text"
        required
        :error-messages="fullnameErrors"
        @input="$v.fullname.$touch()"
        @blur="$v.fullname.$touch()"
      >
      </v-text-field>

      <v-text-field
        id="phone"
        outlined
        v-model="phone"
        label="Nomor Handphone"
        name="phone"
        prepend-inner-icon="mdi-cellphone"
        type="number"
        required
        :error-messages="phoneErrors"
        @input="$v.phone.$touch()"
        @blur="$v.phone.$touch()"
      >
      </v-text-field>

      <v-text-field
        id="email"
        outlined
        v-model="email"
        label="Email"
        name="email"
        prepend-inner-icon="mdi-email"
        type="email"
        required
        :error-messages="emailErrors"
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
      >
      </v-text-field>

      <v-text-field
        id="password"
        outlined
        v-model="password"
        label="Kata Sandi"
        name="password"
        prepend-inner-icon="mdi-lock"
        append-icon="mdi-eye"
        type="password"
        required
        :error-messages="passwordErrors"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
      ></v-text-field>

      <v-text-field
        id="repassword"
        outlined
        v-model="repassword"
        label="Ulangi Kata Sandi"
        name="repassword"
        prepend-inner-icon="mdi-lock"
        append-icon="mdi-eye"
        type="password"
        required
        :error-messages="repasswordErrors"
        @input="$v.repassword.$touch()"
        @blur="$v.repassword.$touch()"
      ></v-text-field>

      <v-autocomplete
        id="metode"
        outlined
        v-model="metode"
        :items="['whatsapp', 'email']"
        label="Metode Verifikasi"
        placeholder="Select..."
        required
        :error-messages="metodeErrors"
        @input="$v.metode.$touch()"
        @blur="$v.metode.$touch()"
      ></v-autocomplete>

      <v-checkbox
        id="checkbox"
        v-model="checkbox"
        label="Saya setuju dengan syarat & ketentuan di 1000saudara.com"
        required
        :error-messages="checkboxErrors"
        @input="$v.checkbox.$touch()"
        @blur="$v.checkbox.$touch()"
      ></v-checkbox>
    </v-card-text>

    <v-list-item>
      <v-btn block color="primary" dark type="submit">Daftar</v-btn>
    </v-list-item>
  </v-form>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email, numeric } from 'vuelidate/lib/validators'
import { mapState, mapMutations, mapActions } from 'vuex'

export default {
  mixins: [validationMixin],
  validations: {
    fullname: { required, minLength: minLength(4) },
    phone: { required, numeric },
    email: { required, email },
    password: { required, minLength: minLength(4) },
    repassword: { required, minLength: minLength(4) },
    metode: { required },
    checkbox: { required },
  },
  data() {
    return {
      // VARIABLE UNTUK MENAMPUNG INPUTAN USER
      fullname: null,
      phone: null,
      email: null,
      password: null,
      repassword: null,
      metode: null,
      checkbox: null,
    }
  },
  computed: {
    fullnameErrors() {
      const errors = []
      if (!this.$v.fullname.$dirty) return errors
      !this.$v.fullname.minLength && errors.push('Name must be at less 4 characters long')
      !this.$v.fullname.required && errors.push('Nama lengkap is required')
      return errors
    },
    phoneErrors() {
      const errors = []
      if (!this.$v.phone.$dirty) return errors
      !this.$v.phone.numeric && errors.push('Must be numeric')
      !this.$v.phone.required && errors.push('Nomor handphone is required')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.required && errors.push('Password is required')
      !this.$v.password.minLength && errors.push('Name must be at less 4 characters long')
      return errors
    },
    repasswordErrors() {
      const errors = []
      if (!this.$v.repassword.$dirty) return errors
      !this.$v.repassword.required && errors.push('Repassword is required')
      !this.$v.repassword.minLength && errors.push('Name must be at less 4 characters long')
      return errors
    },
    metodeErrors() {
      const errors = []
      if (!this.$v.metode.$dirty) return errors
      !this.$v.metode.required && errors.push('Metode is required')
      return errors
    },
    checkboxErrors() {
      const errors = []
      if (!this.$v.checkbox.$dirty) return errors
      !this.$v.checkbox.required && errors.push('Checkbox is required')
      return errors
    },
  },
  methods: {
    ...mapActions({
      getUsersData: 'user/getUsersData',
      storeUsersData: 'user/storeUsersData',
      updateUsersData: 'user/updateUsersData',
    }),
    ...mapMutations({
      SET_IS_AUTH: 'SET_IS_AUTH',
      SET_SNACKBAR: 'SET_SNACKBAR',
      SET_LOGIN_FORM: 'SET_LOGIN_FORM',
    }), // LOAD MUTATIONS DARI ROOT VUEX (STORE/INDEX.JS)
    // JIKA TOMBOL LOGIN DITEKAN, MAKA METHOD INI AKAN DIJALANKAN
    register() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.storeUsersData(this.editedItem).then(() => {
          this.close()
        })
      } else {
        this.scrollToErrorInput()
      }
    },

    scrollToErrorInput() {
      let isError = false
      const scrollOptions = {
        duration: 1300,
        offset: 100,
        easing: 'easeInOutCubic',
      }

      for (const key in Object.keys(this.$v)) {
        const input = Object.keys(this.$v)[key]
        if (input.includes('$')) continue
        if (this.$v[input].$error) {
          // this.$refs[input].focus()
          this.$vuetify.goTo('#' + input, scrollOptions)
          isError = true
          break
        }
      }
      if (!isError) this.$vuetify.goTo(0)
    },
  },
}
</script>
