<template>
  <v-card>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>

    <v-card-text>
      <v-container>
        <v-row>
          <v-col cols="12" sm="6" md="4">
            <v-text-field
              id="name"
              v-model="name"
              label="Username"
              required
              :error-messages="nameErrors"
              @input="$v.name.$touch()"
              @blur="$v.name.$touch()"
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="8">
            <v-text-field
              id="email"
              v-model="email"
              label="Email"
              required
              :error-messages="emailErrors"
              @input="$v.email.$touch()"
              @blur="$v.email.$touch()"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="secondary" text @click="close">Cancel</v-btn>
      <v-btn color="primary" text @click="save">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(10) },
    email: { required, email },
  },
  data() {
    return {}
  },
  computed: {
    // SETIAP REQUEST KE API, DATANYA AKAN DISIMPAN KE DALAM STATE YANG ADA DIMASING-MASING MODULE STORE VUEX
    // DALAM HAL INI, DATA USER AKAN DISIMPAN KE DALAM STATE USERS, DI DALAM MODULE USER ATAU USER.JS YANG ADA DI DALAM FOLDER STORE
    ...mapState({
      editedIndex: (state) => state.user.editedIndex,
      dialog: (state) => state.user.dialog,
      editedItem: (state) => state.user.editedItem,
      defaultItem: (state) => state.user.defaultItem,
      users: (state) => state.user.users,
      responses: (state) => state.user.responses,
    }),
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
    nameErrors() {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength &&
        errors.push('Name must be at most 10 characters long')
      !this.$v.name.required && errors.push('Name is required.')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    },
    name: {
      get() {
        return this.editedItem.name
      },
      set(value) {
        this.SET_EDITED_ITEM(
          Object.assign({}, { payload: value, variable: 'name' })
        )
      },
    },
    email: {
      get() {
        return this.editedItem.email
      },
      set(value) {
        this.SET_EDITED_ITEM(
          Object.assign({}, { payload: value, variable: 'email' })
        )
      },
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
  },

  methods: {
    ...mapActions({
      getUsersData: 'user/getUsersData',
      storeUsersData: 'user/storeUsersData',
      updateUsersData: 'user/updateUsersData',
    }),
    ...mapMutations({
      SET_EDITED_INDEX: 'user/SET_EDITED_INDEX',
      SET_DIALOG: 'user/SET_DIALOG',
      SET_DIALOG_DELETE: 'user/SET_DIALOG_DELETE',
      SET_EDITED_ITEM: 'user/SET_EDITED_ITEM',
      SET_DEFAULT_ITEM: 'user/SET_DEFAULT_ITEM',
    }),
    close() {
      this.SET_DIALOG(false)
      this.$nextTick(() => {
        this.SET_DEFAULT_ITEM(Object.assign({}, this.defaultItem))
        this.SET_EDITED_INDEX(-1)
      })
    },

    save() {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        if (this.editedIndex > -1) {
          this.updateUsersData(this.editedItem).then(() => {
            this.close()
          })
        } else {
          this.storeUsersData(this.editedItem).then(() => {
            this.close()
          })
        }
      } else {
        this.scrollToErrorInput()
      }
    },

    scrollToErrorInput() {
      let isError = false
      const scrollOptions = {
        duration: 1300,
        offset: 100,
        easing: 'easeInOutCubic',
      }

      for (const key in Object.keys(this.$v)) {
        const input = Object.keys(this.$v)[key]
        if (input.includes('$')) continue
        if (this.$v[input].$error) {
          // this.$refs[input].focus()
          this.$vuetify.goTo('#' + input, scrollOptions)
          isError = true
          break
        }
      }
      if (!isError) this.$vuetify.goTo(0)
    },
  },
}
</script>
